<ol>
    {{#each countries }}
        <li>{{ this }}</li>
    {{/each}}
</ol>

<table border="1">
    <tr>
        <th style="color: red;">Country</th>
    </tr>
    {{#each sport }}
        <tr>
            <td>{{ this }}</td>
        </tr>
    {{/each}}
</table>