<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--header(chung)-->
    <img src="public/images/greenwich.jpg" alt="">
    <ul class="nav justify-content-center  ">
        <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">Active link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled link</a>
        </li>
    </ul>
    <!--body(riêng)-->
    {{{body}}}
   
    <!--footer(chung)-->

  </body>
</html>
